canvas {
  max-width: 200px;
  max-height: 200px;
}
.flex{
  width: 75%;
}
.dis{
  // display: flex;
  // flex-direction: column;
  // justify-items: center;
  width: min(800px,90%);
  margin: 0 auto;
  padding: 20px;
}
